*{
    font-family: 'Lato', sans-serif;
    margin: 0%;
}
.top-banner{
    background-image: url(../images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
}
.intro-section h1{
    color: white;
    padding: 200px 120px 0px 120px;
    font-size: 60px;
    text-align: center;
    font-weight: 700;
}
.intro-section p{  
    color: #f5f5f5;
    padding: 0% 15%;
    font-size: 18px;
    text-align: center;
    margin-bottom:50px ;
}
.link-button{
    color: white;
    text-decoration: none;
    background-color: #ff5959;
    background-image: linear-gradient(tomato red);
    font-size: 18px;
    padding: 10px 15px; 
    text-align: center;
    border-radius: 5px;
}
.donate-button{
    text-align: center;
}
.donate-section{
    margin-bottom: 50px;
    text-align: center;
}
.headings {
    font-size: 40px;
    color: #000;
}
.other-texts {
    color: #858383;
    font-size: 18px;
    font-weight: 500;
    margin: 30px 0px;
    letter-spacing: 0.5px;
}
.buttons{
    display: flex;
    margin: 0% 20% 5%;
}
.one-fifth-width{
    width: 20%;
}
button {
    color: rgb(173, 175, 167);
    background-color: rgb(245, 245, 245);
    border: 0 solid #000;
    padding: 40px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 2%;
}
#clicked-button{
    color: #ff5959;
    border: 2px solid #ff5959;
    background-color: #fce2de;
    border-radius: 2%;
}

#custom-amount{
    text-align: center;
    border: none;
    border-bottom: 2px solid dimgray;
    padding: 10px 22%;
    margin-bottom: 20px;
    font-size: 15px;
    outline: none;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
.donate-plan {
    text-align: center;
}
.donation-categories{
    display:flex;
    text-align: left;
    margin: 0px 110px 50px;
}
.donation-categories p{
    color: #857e7e;
}
.one-third-width{
    width:25%;
    padding: 20px 40px;
    margin-right: 20px;
}
.icon{
    height: 60px;
    width: 60px;
    padding: 20px 0px;
}
#food{
    background-color: #edf5f6;
    border-radius: 1.3%;
}
#medicine{
    background-color:#ffeeee;
    border-radius: 1.3%;
}
#book{
    background-color: #fff4d6;
    border-radius: 1.3%;
}
.content{
    margin: 2% 10%;
}
.first-content{
    display: flex;
}
.second-content{
    display: flex;
}
.half-width{
    width: 45%;
    padding: 50px 25px;
}
.content-image{
    width: 425px;
    height: 445px;
    border-radius: 1.3%;
}
.update-section{
    text-align: center;
    margin: 2% 20%;
}
.subscription-form{
    width: 530px;
    padding: 5% 10%;
    display: flex;
    background-color: #fff4d6;
    margin: 5% 20%;
    border-radius: 5px;
}
.subscription-form input[type="text"]
{
    height: 50px;
    width: 350px;
    padding-left: 20px;
    font-size: 18px;
    background-color: #dddddd;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
}
.subscription-form input[type="button"]
{
    width: 150px;
    border: none;
    color: #fff;
    font-size: 18px;
    background-color: #ff5959;
    border-radius: 0 5px 5px 0;
}
.slogan{
    background-color: #0B0D17;
    height: 150px;
    width: 100%;
    color: #fff;
    text-align: center;
}
.slogan h1{
    font-family: 'Lobster', cursive;
    color: #ff5959;
    padding-top: 25px;
    font-weight: 400;
}
.slogan p{
    padding: 30px 0;
    font-size: 13px;
    font-weight: 300;
}